@font-face {
font-family: "ThumbFont";
src: url('../fonts/WalkwaySemiBold.ttf') format('truetype');


}

@font-face {
font-family: "PanelFont";
src: url('../fonts/WalkwayUltraBold.ttf') format('truetype');


}




.headerleft {
font-family: PanelFont;
color: White;
font-size: 10pt;
}



.panel-body {
margin-top: 55px;
margin-bottom: 10px;
  font-size: 2em;

  text-align: center;
  position: relative;
  font-family: PanelFont;
  border-radius: 0px;


}


.panel-body2 {

margin-bottom: 25px;
  font-size: 2em;

  text-align: center;
  position: relative;
  font-family: PanelFont;
  

}


.thumbnail {

  font-family: "ThumbFont";
border-radius: 0px;
}




.btn {
	border-radius: 0px;
}
